.footer{
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#textmain{
    font-weight: 600;
}

#sourcecode{
    color: blue;
}

#link{
    text-decoration: none;
}

#sourcecode:hover{
    cursor: pointer;
}